table,
td,
th {
  border: 1px solid black;
}

table {
  border-collapse: collapse;
  text-align: left;
  margin: 20px auto;
  word-break: break-all;
}

tr {
  vertical-align: top;
}

td p {
  margin: 0;
}
