.App table,
.App td,
.App th {
  border: 1px solid black;
  white-space: pre;
}

.App table {
  border-collapse: collapse;
  text-align: left;
  margin: 20px auto;
}

.App tr {
  vertical-align: top;
}

.App td p {
  margin: 0;
}
